body {
    margin: 0px;
    background-color: #F5F8FF;

}

header {
    background-image: url(./Assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    height: 698px;
}

/* Navigation Style */
.nav {
    padding: 0px 150px;
}

.nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Color */
.color-grad {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.color-button {
    background-color: #1500fc;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 12px 36px;
    border-radius: 10px;
}

.color-button:hover {
    background-color: rgb(0, 188, 54);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Font */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* Banner style */
.banner-st {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 152px 268px;
    text-align: center;
}

.banner-st button {
    gap: 37px;
}

.banner-st h1 {
    font-size: 64px;

}
/* Action Style*/
.act {
    display: flex;
    justify-content: space-around;
    margin-top: 116px;
    gap: 220px;
    margin: 116px 145px;
}

.act p {
    font-size: 30px;
    font-weight: normal;
    color: #25243280;
}

.act h1 {
    font-size: 50px;
}

/* Image style */
.images img {
    width: 430px;
    height: 328px;
    border-radius: 48px;
}

/* productive Style*/
.prod {
    text-align: center;
    border-radius: 24px;
    background-color: #4d47ff18;
    margin: 116px 145px;
    padding: 50px 142px;
}

.prod h1 {
    font-size: 38px;
}

.prod-div {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.prod-div p {
    color: #000000;
}

.prod-div h1 {
    margin: 0px;
    font-size: 80px;
}
.Userbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 137px 150px;
}

.Review {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.users {
    border: 1px solid #F2EDED;
    background-color: #FFFFFF;
    padding: 25px;
    gap: 24px;
    border-radius: 14px;
}

.Userbox h1 {
    font-size: 42px;
}
.avater {
    display: flex;
    align-items: center;
    gap: 12px;

}

.userAvater {
    border-radius: 50%;
    width: 40%;
    height: 40%;
}

.avater h4 {
    color: #757575;
}

.avater p, h4 {
    color: #B3B3B3;
}

/*Optional part style*/
.Focus img {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
}

.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Focus {
    background-color: #FFFFFF;
    border-radius: 14px;
    margin: 150px 137px;
    padding: 71px 150px;
}

.focus-container p {
    margin-top: 0;
    color: #00000080;
}
.focus-container h1{
    font-size: 50px;
}
.Touch {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 92px 150px 14px 150px;
}

.Touch h1 {
    font-size: 97px;
}

.TouchInput {
    display: flex;
    flex-direction: column;
}

.TouchInput textarea {
    box-sizing: border-box;
    height: 135px;
    width: 497px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 32px;
    border-color: #D6DDED;
}

.TouchInput input {
    box-sizing: border-box;
    margin-bottom: 19px;
    margin-top: 10px;
    font-size: 20px;
    width: 497px;
    height: 70px;
    border-radius: 10px;
    padding-left: 20px;
    border-color: #D6DDED;
    

}
.TouchInput button {
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    width: 497px;
}

/* Footer Style */
.footer {
    align-items: center;
    text-align: center;
    margin-top: 85px;
    background-color: #FFFFFF;
    padding: 104px 455px;
    justify-content: center;

    color: #8987A1;

}
.Under {
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    list-style: none;

}
.color-grad-2 {
    color: #4E47FF;
    font-size: 80px;
    font-weight: 800;
}




